body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: linear-gradient(to right, rgb(131, 64, 170), rgb(3, 216, 3));
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
}

header {
  text-align: center;
}

.active {
  background-color: rgb(131, 64, 170);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(80, 77, 77);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: rgb(44, 42, 42);
}

h1 {
    background-color: black;
    padding: 10px;
    margin: 0;
    color:  rgb(131, 64, 170);
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}